-
 const about = [
     {
         'img_clients': '/../media/images/about/about-1.png',
         'title_clients': 'Wealth Management',
         'text_clients': "We help clients achieve financial goals through tax-efficient, customized investment solutions. Our independence allows us to provide fiduciary advice without the constraints of a single firm's platform."
     },
     {
         'img_students': '/../media/images/about/about-2.png',
         'title_students': 'Private Education',
         'text_students': "Our firm values education and continuous improvement. We provide private tutoring to individuals and groups looking to enhance their investment and financial acumen. We customize educational tools to accelerate personal growth."
     },
     {
         'img_tools': '/../media/images/about/about-3.png',
         'title_tools': 'UCLA',
         'text_tools': "We teach finance at UCLA and lead the Student Investment Fund at UCLA Anderson. Our involvement gives us access to the intellectual capital of UCLA faculty, key alumni, and the leaders of tomorrow."
     }

 ]
 const clients = ['Asset Management', 'Full service, multi-generation financial planning', 'Option trading/hedging strategies', 'Portfolio tax planning', 'Foundation management', 'Designing and managing Estate Planning Trusts (GRATs, CRUTs, CRATs and CLATs)']
 const students = [
    'Investments',
    'Financial Planning',
    'Tax Management',
    'Options'
 ]
 const tools = [
    'Introduction to Business',
    'Entrepreneurship',
    'Personal Financial Health',
    'Student Investment Fund (SIF)',
 ]

section#about(class=`py-12 lg:pb-32`)
  .container(class=`mx-auto px-10 flex flex-col items-center `)
   div(class="container_text_about" data-aos="fade-up")
    h1(class=`uppercase`) About Us
    p(class=`pt-8 pb-2`) We are a full-service Wealth Management firm with over 20 years of experience at leading financial institutions.
    p(class=`pt-2 pb-8`) We have been recognized as a Bruin 100 Business with our commitment to continue the UCLA mission of improving our global society.
   div(class="container_boxes" )
    div(class="box_img_text")
     div(class="container_img" data-aos="fade-up")
      div(class="contain_image")
       img(class=`img_box` src=about[0].img_clients)
      p(class=`title_box uppercase`) #{about[0].title_clients}
     p(class=`text_box` data-aos="fade-up") #{about[0].text_clients}
     ul(data-aos="fade-up") 
      each bullet in clients
       li #{bullet}
    div(class="box_img_text")
     div(class="container_img" data-aos="fade-up")
      div(class="contain_image")
       img(class=`img_box` src=about[1].img_students)
      p(class=`title_box uppercase`) #{about[1].title_students}
     p(class=`text_box` data-aos="fade-up") #{about[1].text_students}
     ul(class=`list_student` data-aos="fade-up")
      each bullet in students
       li #{bullet}
    div(class="box_img_text")
     div(class="container_img" data-aos="fade-up")
      div(class="contain_image")
       img(class=`img_box` src=about[2].img_tools)
      p(class=`title_box uppercase`) #{about[2].title_tools}
     p(class=`text_box` data-aos="fade-up") #{about[2].text_tools}
     ul(class="list_tools" data-aos="fade-up")
      each bullet in tools
       li #{bullet}

    