//- Site Title and Current Page Name
title #{seo.siteTitle} | #{pageName || ''}

//- General Site Meta Tags
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content=`${seo.siteDescription}`)
meta(name="author", content=`${seo.siteAuthor}`)

//- Social OG Meta Tags

//- Facebook's Open Graph
meta(property="og:url" content=`${seo.siteBaseURL}`)
meta(property="og:title" content=`${seo.siteTitle}`)
meta(property="og:description" content=`${seo.siteDescription}`)
meta(property="og:type" content="website")
//- Twitter Card
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content=`${seo.siteTitle}`)
meta(name="twitter:description" content=`${seo.siteDescription}`)

//- Analytics

//- Google Analytics
if analytics.google && process.env.NODE_ENV === 'production'
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=#{analytics.google}"></script>
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', `#{analytics.google}`);
//- Facebook Tracking Pixel
if analytics.facebook && process.env.NODE_ENV === 'production'
    <!-- Facebook Pixel Code -->
    script.
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '#{analytics.facebook}');
      fbq('track', 'PageView');
    noscript.
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=#{analytics.facebook}&ev=PageView&noscript=1"/>
    <!-- End Facebook Pixel Code -->
